@font-face {
	font-family: '8-bit_operator';
	src: url('/fonts/8bitoperatorplus-regular.eot');
	src: url('/fonts/8bitoperatorplus-regular.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/8bitoperatorplus-regular.woff2') format('woff2'),
		 url('/fonts/8bitoperatorplus-regular.woff') format('woff'),
		 url('/fonts/8bitoperatorplus-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: '8-bit_operator';
    src: url('/fonts/8bitoperatorplus-bold.eot');
    src: url('/fonts/8bitoperatorplus-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/8bitoperatorplus-bold.woff2') format('woff2'),
         url('/fonts/8bitoperatorplus-bold.woff') format('woff'),
         url('/fonts/8bitoperatorplus-bold.ttf') format('truetype'),
         url('/fonts/8bitoperatorplus-bold.svg#8-bit_operatorbold') format('svg');
    font-weight: bold;
    font-style: normal;
}