body {
	font-size: 16px;
	background-color: black;
	font-family: '8-bit_operator', monospace;
}

#wrapper {
	position: relative;
	margin: 50px auto 0px auto;
	border: 6px solid white;

	width: 940px;
	height: 580px;
}
	canvas {
		display: block;

		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;

		visibility: hidden;
		z-index: -1;
	}

	#controls-info {
		display: block;
		width: 100%;
		text-align: center;
		color: white;

		position: absolute;
		top: 640px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	#content {
		z-index: 1;
		-webkit-transition: opacity 250ms;
		transition: opacity 250ms;
		position: relative;
	}

		#sound-icon {
			position: absolute;
			top: -15px;
			right: 50px;

			width: 16px;
			height: 13px;

			background-repeat: no-repeat;
			background-image: url('/img/sound-icon-sprite.png');
			cursor: pointer;
		}
			#sound-icon.on {
				background-position: top;
			}
			#sound-icon.off {
				background-position: bottom;
			}

		#score {
			text-align: center;
			color: white;
			font-size: 5em;

			margin-top: 25px;
			margin-bottom: 10px;
		}
			#player-score {
				margin-right: 45px;
			}

			#ai-score {
				margin-left: 45px;
			}

		#big-logo {
			display: block;
			margin: 0px auto 10px auto;
		}

		#date-and-place {
			color: white;
			background-color: #ed1c24;

			display: block;
			width: 480px;
			padding: 0px;
			margin: 0px auto;

			text-transform: uppercase;
			text-align: center;

			font-size: 1.25em;
			font-weight: bold;
		}

		#ball-links {
			margin-top: 70px;
			text-align: center;
		}
			#ball-links a {
				display: inline-block;
				width: 155px;
				height: 155px;

				background-repeat: no-repeat;
				background-position: center;
			}
				#football-link {
					margin-right: 100px;
					background-image: url('/img/football.svg');
				}

					#football-link:hover::before {
						content: "";
						display: block;
						position: relative;
						top: 32px;
						left: -45px;
						width: 245px;
						height: 88px;
						background-image: url('/img/football-hover.svg');
					}

				#volleyball-link {
					margin-left: 100px;
					background-image: url('/img/volleyball.svg');
				}

					#volleyball-link:hover::before {
						content: "";
						display: block;
						position: relative;
						top: 32px;
						left: -45px;
						width: 245px;
						height: 88px;
						background-image: url('/img/volleyball-hover.svg');
					}

		#small-ball-links {
			display: none;
			text-align: center;
			margin-top: 25px;
			margin-bottom: 20px;
		}
			#small-ball-links a {
				display: inline-block;
				width: 52px;
				height: 52px;

				background-repeat: no-repeat;
				background-position: center;
			}
				#small-ball-links a.active {
					background-size: 100%;
				}
				#small-football-link {
					margin-right: 30px;
					background-image: url('/img/football.svg');
				}
				#small-football-link.active {
					background-image: url('/img/small-football-stroke.png');
				}

				#small-volleyball-link {
					margin-left: 30px;
					background-image: url('/img/volleyball.svg');
				}
				#small-volleyball-link.active {
					background-image: url('/img/small-volleyball-stroke.png');
				}

		#football-buttons {
			display: none;
			width: 730px;
			margin: 0px auto 20px auto;
		}

			#football-buttons a {
				background-position: center 0px;
				display: inline-block;
				margin: 0px 40px;
				vertical-align: bottom;
				background-repeat: no-repeat;
				min-width: 159px;
			}

			#btn-football-group-a,
			#btn-volleyball-group-a {
				display: block;
				width: 157px;
				height: 16px;
				background-image: url('/img/btn-group-a.png');
			}
				#btn-football-group-a:hover,
				#btn-volleyball-group-a:hover {
					background-position: center -16px;
				}

				#btn-football-group-a.active,
				#btn-volleyball-group-a.active {
					width: 159px;
					height: 18px;
					background-position: center -32px;
				}

			#btn-football-group-b,
			#btn-volleyball-group-b {
				display: block;
				width: 157px;
				height: 16px;
				background-image: url('/img/btn-group-b.png');
			}
				#btn-football-group-b:hover,
				#btn-volleyball-group-b:hover {
					background-position: center -16px;
				}

				#btn-football-group-b.active,
				#btn-volleyball-group-b.active {
					width: 159px;
					height: 18px;
					background-position: center -32px;
				}

			#btn-rules {
				display: block;
				width: 147px;
				height: 20px;
				background-image: url('/img/btn-rules.png');
			}
				#btn-rules:hover {
					background-position: center -20px;
				}

				#btn-rules.active {
					width: 149px;
					height: 22px;
					background-position: center -40px;
				}

		#volleyball-buttons {
			display: none;
			width: 720px;
			margin: 0px auto 20px auto;
		}

			#volleyball-buttons a {
				background-position: center 0px;
				display: inline-block;
				margin: 0px 40px;
				vertical-align: bottom;
				background-repeat: no-repeat;
				min-width: 147px;
			}

		table.wrapper-table {
			display: none;
			margin: 0 auto;
		}

			table.wrapper-table > tbody > tr > td {
				padding: 0px 5px;
			}

				table.inside-table td {
					border-collapse: separate;
				}

				table.inside-table td.round {
					color: white;
					background-color: #ff0000;
					text-transform: uppercase;
				}

				table.inside-table td.companies {
					color: white;
					text-transform: uppercase;
					padding-left: 15px;
				}

				table.inside-table td.time {
					color: #808285;
					text-transform: uppercase;
					padding-left: 10px;
				}
